@import '../../sass/variables';
@import '../../sass/mixins';
@import "../../sass/font-styles";

.pagination {
  display: flex;
  $pagination-margins-y: (
    "desktop": 1.25rem,
    "tablet": 1.875rem,
    "mobile": 1.25rem
  );
  @include setForAllMediaFromMap(margin-top, $pagination-margins-y);
  @include setForAllMediaFromMap(margin-bottom, $pagination-margins-y);
  padding-left: 0;
  list-style: none;
  justify-content: center;
}

.page-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $pagination-color;
  background-color: $pagination-bg;
  border: $pagination-border-width solid $pagination-border-color;
  @include btn-md-text;

  &:hover {
    z-index: 2;
    color: $pagination-hover-color;
    text-decoration: none;
    //background-color: $pagination-hover-bg;
    background-color: darken($pagination-bg, 13%);
    border-color: $pagination-hover-border-color;
  }

  &:focus {
    z-index: 2;
    outline: $pagination-focus-outline;
    box-shadow: $pagination-focus-box-shadow;
  }
}

$pagination-item-widths: (
  "desktop": 4.375rem,
  "tablet": 4.375rem,
  "mobile": 4.375rem
);
$pagination-item-heights: (
  "desktop": 2.625rem,
  "tablet": 2.5rem,
  "mobile": 2.5rem
);
.page-item {
  .page-link {
    @include setForAllMediaFromMap(width, $pagination-item-widths);
    @include setForAllMediaFromMap(height, $pagination-item-heights);
  }

  &.active .page-link {
    z-index: 1;
    color: $pagination-active-color;
    background-color: $pagination-active-bg;
    border-color: $pagination-active-border-color;
  }

  &.disabled .page-link {
    //color: $pagination-disabled-color;
    background-color: $gray-100;
  }
}
