@import '../../sass/variables'
@import "../../sass/mixins"
@import '../../sass/font-styles'

$notification-margin-left: 15px
$icon-result-widths: ("desktop": 24px, "tablet": 28px, "mobile": 18px)


.notification
  margin-top: 10px
  margin-bottom: 10px
  display: flex
  align-items: center
  &__caption
    @include service-text-bold
    margin-left: $notification-margin-left
  &__text
    @include service-text-plain
    margin-left: $notification-margin-left
  &__date
    display: flex
    @include service-text-plain
    margin-left: $notification-margin-left
    & .date__clock-wrapper
      display: inline-block
      width: 16px
      min-width: 16px
      margin-right: 10px
      & img
        @include img()

.icon-notification
  +setForAllMediaFromMap(width, $icon-result-widths)
