@import "../../sass/mixins"
@import "../../sass/variables"

$octagon-fill-blue: #0ad
$octagon-fill-green: #00cb3c
$octagon-fill-red: #d71956
$octagon-fill-orange: #ff9700

$octagon-rotateZ-0: rotateZ(0)
$octagon-rotateZ-90: rotateZ(90deg)
$octagon-rotateZ-180: rotateZ(180deg)

$octagon-width: 104px
$octagon-height: $octagon-width


.octagon-wrapper
  width: 100%
  text-align: center
  &.octagon-wrapper__lg
    & .octagon
      width: $octagon-width + 20px
      height: $octagon-height + 20px
      & svg
        width: $octagon-width + 20px
        height: $octagon-height + 20px
        transform-origin: 0 ($octagon-height + 20px) / 2
    & h3
      font-size: 26px
    & p
      font-size: 22px
  &.octagon-wrapper__sm
    & .octagon
      margin: 10px auto
      width: $octagon-width - 20px
      height: $octagon-height - 20px
      & svg
        width: $octagon-width - 20px
        height: $octagon-height - 20px
        transform-origin: 0 ($octagon-height - 20px) / 2
    & h3
      margin: 10px 0
      font-size: 20px
    & p
      margin: 10px 0
      font-size: 18px
  &.octagon-wrapper__xs
    & .octagon
      margin: 10px auto
      width: $octagon-width - 40px
      height: $octagon-height - 40px
      & svg
        width: $octagon-width - 40px
        height: $octagon-height - 40px
        transform-origin: 0 ($octagon-height - 40px) / 2
    & h3
      margin: 10px 0
      font-size: 18px
    & p
      margin: 10px 0
      font-size: 16px
  & h3, & p
    font-family: $font-family-ekibastuz
    font-weight: $font-weight-bold
    font-size: 24px
    margin: 20px 0
  & .octagon
    width: $octagon-width
    height: $octagon-height
    margin: 20px auto
    display: block
    & svg:not(:root)
      overflow: hidden
    & svg
      width: $octagon-width
      height: $octagon-height
      transform-origin: 0 52px
      animation: throbberRotateX 1.5s infinite cubic-bezier(0.8, 0, 0, 0.8)
      & .octagon-animate
        transform-origin: 46px 50px
        animation: throbberRotateZ 1.5s infinite linear,throbberColor 6s infinite cubic-bezier(0.8, 0, 0, 0.8)

@keyframes throbberColor
  0%, 100%
    fill:  $octagon-fill-blue
  25%
    fill: $octagon-fill-green
  50%
    fill: $octagon-fill-red
  75%
    fill: $octagon-fill-orange

@keyframes throbberRotateX
  0%
    transform: rotateX(0)
  100%
    transform: rotateX(180deg)

@keyframes throbberRotateZ
  0%
    transform: $octagon-rotateZ-0
  25%
    transform: $octagon-rotateZ-90
  50%
    transform: $octagon-rotateZ-180
  75%
    transform: $octagon-rotateZ-90
  100%
    transform: $octagon-rotateZ-0
