@font-face {
  font-family: "Helvetica Neue";
  src: url('../fonts/HelveticaNeue.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url('../fonts/HelveticaNeueBold.ttf')  format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Ekibastuz";
  src: url('../fonts/Ekibastuz-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ekibastuz";
  src: url('../fonts/Ekibastuz-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Ekibastuz";
  src: url('../fonts/Ekibastuz-Light.otf');
  font-weight: 300;
  font-style: normal;
}
