@import './variables'
@import './mixins'

$plain-font-color: #535B63
=plain-h1
  font-family: $font-family-ekibastuz
  font-weight: $font-weight-light
  color: $black
  +setForAllMedia(font-size, 42px, 30px, 22px)
  +setForAllMedia(line-height, 111%, 114%, 114%)

//  Заголовок второго уровня H2.
//Используется для указания названия подуслуги и располагаетсяпод названием услуги.
=plain-h2
  font-family: $font-family-arial
  font-weight: $font-weight-normal
  color:  gray(700)
  font-size: 15px
  line-height: 134%

//Заголовок третьего уровня H3.
//Используется для названий шагов формы.
=plain-h3
  font-family: $font-family-ekibastuz
  font-weight: $font-weight-bold
  color: $black
  +setForAllMedia(font-size, 18px, 18px, 17px)
  +setForAllMedia(line-height, 112%, 134%, 130%)

//Заголовок третьего уровня H4.
//Используется для названий разделов шага или разделов вложенной формы. Обычно сопровождается чертой.
=plain-h4
  font-family: $font-family-ekibastuz
  font-weight: $font-weight-bold
  color: $black
  font-size: 15px
  +setForAllMedia(line-height, 100%, 147%, 147%)

//Уведомления - Service H
//Уведомления — Service H.Используется для заголовка ленты уведомлений
=service-h1
  font-family: $font-family-arial
  font-weight: $font-weight-normal
  font-size: 36px
  line-height: 134%

//Заголовок третьего уровня карточки услуг — Service H3.
//Обозначение действий и названия подуслуги.
@mixin service-h3
  font-family: $font-family-ekibastuz
  font-weight: bold
  color: #000000
  +setForAllMedia(font-size, 24px, 18px, 17px)
  +setForAllMedia(line-height, 112%, 130%, 134%)

//Заголовок третьего уровня карточки услуг — Service H4
//Используется в названиях услуг на главной странице.
=service-h4
  font-family: $font-family-ekibastuz
  font-weight: $font-weight-bold
  color: #000000
  +setForAllMedia(font-size, 22px, 18px, 17px)
  +setForAllMedia(line-height, 118%, 114%, 118%)

//Обычный текст — Plain Text
//Обычный текст — Plain text. Используется в радиокнопках, чекбоксах, списках и т.д. Начертание текста по умолчанию..
=plain-text
  font-family: $font-family-helvetica
  font-weight: $font-weight-normal
  color: gray(700)
  font-size: 15px
  +setForAllMedia(line-height, 134%, 147%, 140%)

//  Обычный полужирный текст — Plain Text Bold
//Обычный текст — Plain text. Используется в радиокнопках, чекбоксах, списках и т.д. Начертание текста по умолчанию..
=plain-text-bold
  +plain-text
  font-weight: $font-weight-bold

//  Текст описания услуги на главной странице — Plain Text Main
=plain-text-main
  font-family: $font-family-helvetica
  font-weight: $font-weight-normal
  color: gray(700)
  +setForAllMedia(font-size, 16px, 15px, 15px)
  +setForAllMedia(line-height, 163%, 147%, 140%)



//font-styles
=service-text-bold
  font-family: $font-family-helvetica
  font-weight: $font-weight-bold
  color: #000000
  +setForAllMedia(font-size, 18px, 17px, 17px)
  +setForAllMedia(line-height, 28px, 26px, 22px)

// Текст карточек — Service Plain Text
// Текст карточек — Service Plain Text. Текст карточек, информеров, уведомлений и таймлайна
@mixin service-text-plain
  font-family: $font-family-helvetica
  font-weight: normal
  color: gray(700)
  +setForAllMedia(font-size, 18px, 17px, 15px)
  +setForAllMedia(font-weight, normal, bold, bold)
  +setForAllMedia(line-height, 156%, 153%, 130%)

//Большая кнопка — Button Large Blue
=btn-lg-text
  font-family: $font-family-helvetica
  +setForAllMedia(font-size, 24px, 18px, 17px)
  +setForAllMedia(line-height, 24px, 18px, 17px)

//Средняя кнопка действия — Button Medium Blue
//Средняя кнопка действия — Button Medium Blue
=btn-md-text
  font-family: $font-family-helvetica
  +setForAllMedia(font-size, 17px, 16px, 15px)
  +setForAllMedia(line-height, 17px, 16px, 15px)

//Малая кнопка действия — Button Small Blue
//Малая кнопка действия — Button Small Blue
=btn-sm-text
  font-family: $font-family-helvetica
  font-size: 14px
  line-height: 14px

//Данные, введённые в Input — Form Text Active
//Данные, введённые в Input — Form Text Active. Сопровождаются строкой «Form Placeholder».
=input-text
  font-family: $font-family-helvetica
  +setForAllMedia(font-size, 17px, 18px, 15px)
  +setForAllMedia(line-height, 112%, 112%, 120%)

//Телефон
//color: #969696 / 150,150,150


