@import "../../node_modules/bootstrap/scss/mixins/breakpoints"
@import "./variables"
=md-max()
  +media-breakpoint-down(md)
    @content

=sm-max()
  +media-breakpoint-down(sm)
    @content

=md-min()
  +media-breakpoint-up(md)
    @content

=sm-min()
  +media-breakpoint-up(sm)
    @content

=setForAllMedia($property, $desktop-value, $tablet-value, $mobile-value)
  #{$property}: $desktop-value
  +md-max
    #{$property}: $tablet-value
  +sm-max
    #{$property}: $mobile-value

=setForAllMediaFromMap($property, $map)
  #{$property}: map_get($map, "desktop")
  +md-max
    #{$property}: map_get($map, "tablet")
  +sm-max
    #{$property}: map_get($map, "mobile")




=img($img-display: block, $img-width: 100%, $img-height: auto)
  display: $img-display
  width: $img-width
  height: $img-height

// Color contrast
@function color-yiq($color, $dark: $yiq-text-dark, $light: $yiq-text-light)
  $r: red($color)
  $g: green($color)
  $b: blue($color)

  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000

  @if ($yiq >= $yiq-contrasted-threshold)
    @return $dark
  @else
  @return $light



@import "mixins/buttons"