@import '../../sass/variables'
@import '../../sass/font-styles'

$informer-margin-left: 15px
$icon-width-desktop: 24px
$icon-width-tablet: 28px
$icon-width-mobile: 18px


.informer
  margin-top: 10px
  margin-bottom: 10px
  align-items: center
  &__caption-wrapper
    display: flex
    align-items: center
  &__caption
    @include service-text-bold
    margin-left: $informer-margin-left
  &__text
    +service-text-plain
    +setForAllMedia(margin-left, $icon-width-desktop + $informer-margin-left, $icon-width-tablet + $informer-margin-left,  $icon-width-mobile + $informer-margin-left)
  &__text.danger
    color: #D43C54
  &__date
    @include service-text-plain
    margin-left: $informer-margin-left

.icon-informer
  @include setForAllMedia(width, $icon-width-desktop, $icon-width-tablet, $icon-width-mobile)
