//// stylelint-disable selector-no-qualifying-type
//
////@import "../../sass/functions"
@import "../../sass/variables"
@import "../../sass/mixins"
@import "../../sass/font-styles"
////@import "../../sass/global"



//$primary: #0063B0
//$primary-color: #FFFFFF
//$primary-hover: #023E83
//$primary-active: #002957
//$primary-disabled: #DBE2E6
//$primary-disabled-color: #97A1A7
//$primary: #0063B0
//
//$light: #FFFFFF
//$light-color: #565656
//$light-hover: #F5F5F5
//$light-hover-color: #3C3C3C
//
//$light-active: #E0E0E0
//$light-active-color: #000000
//$light-disabled: #DBE2E6
//$light-disabled-color: #97A1A7
//$light-disabled-border: #CDCFD1
//
//
.btn
  $background-color: $gray-100
  +setForAllMedia(padding, $btn-padding-y_desktop $btn-padding-x_desktop, $btn-padding-y_tablet $btn-padding-x_tablet, $btn-padding-y_mobile $btn-padding-x_mobile)
  //color: $body-color
  border-color:   $gray-500
  +btn-md-text
  &:hover
    color: color-yiq(darken($background-color, 13%))
    background-color: darken($background-color, 13%)

  //Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled
    $bg-color_disabled: #DBE2E6
    $color_disabled: #97A1A7
    $border-color_disabled: #CDCDD1
    color: $color_disabled
    background-color: $bg-color_disabled
    border-color: $border-color_disabled

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle
    color: color-yiq(darken($background-color, 19%))
    background-color: darken($background-color, 19%)


  //+hover
  //  color: $body-color
  //  text-decoration: none

  &:focus,
  &.focus
    outline: 0
    box-shadow: none

//// Future-proof disabling of clicks on `<a>` elements
//a.btn.disabled,
//fieldset:disabled a.btn
//  pointer-events: none

//
////
//// Alternate buttons
////
//
@each $color, $value in $theme-colors
  .btn-#{$color}
    +button-variant($value, $value)


// Button Sizes

.btn-lg
  +setForAllMedia(padding, $btn-padding-y-lg_desktop $btn-padding-x-lg_desktop, $btn-padding-y-lg_tablet $btn-padding-x-lg_tablet, $btn-padding-y-lg_mobile $btn-padding-x-lg_mobile)
  +btn-lg-text

.btn-sm
  +setForAllMedia(padding, $btn-padding-y-sm_desktop $btn-padding-x-sm_desktop, $btn-padding-y-sm_tablet $btn-padding-x-sm_tablet, $btn-padding-y-sm_mobile $btn-padding-x-sm_mobile)
  +btn-sm-text
