@import '../../sass/variables'

$breadcrumb-color: $gray-700
$breadcrumb-height: 44px
$breadcrumb-bg: #F6F6F6
$breadcrumb-item-padding: $breadcrumb-height/2 + 20px

.breadcrumb
  position: relative
  height: $breadcrumb-height
  display: flex
  flex-wrap: wrap
  margin-bottom: $breadcrumb-margin-bottom
  padding: 0
  list-style: none
  background-color: $breadcrumb-bg

.breadcrumb-item
  display: flex
  align-items: center
  padding: 0 $breadcrumb-height/2 0 $breadcrumb-height/2 + 21px
  & > a
    color: $breadcrumb-color

  + .breadcrumb-item
    padding: 0 $breadcrumb-height/2 0 $breadcrumb-height/2 + 21px
    background: url('Arrow.svg') top left no-repeat


  &.active
    color: $breadcrumb-active-color