@import '../../sass/mixins'
@import '../../sass/font-styles'
  
$x1-desktop: 50px
$x2-desktop: 80px
$x3-desktop: 20px
$x4-desktop: 30px
$x1-mobile: 20px 
$x2-mobile: 45px
$x3-mobile: 15px
$x4-mobile: 20px
$x1-tablet: 40px
$x2-tablet: 75px
$x3-tablet: 30px
$x4-tablet: 20px
$icon-result-widths: ("desktop": 80px, "tablet": 75px, "mobile": 45px)
  
.result 
  &__caption-wrapper
    display: flex
    align-items: center
    +setForAllMedia(margin-top, $x1-desktop, $x1-tablet, $x1-mobile)
  &__caption
    margin: 0
    +setForAllMedia(margin-left, $x3-desktop, $x3-tablet, $x3-mobile)
  &__text
    +setForAllMedia(margin-left, $x2-desktop + $x3-desktop, $x2-tablet + $x3-tablet, $x2-mobile + $x3-mobile)
    @include service-text-plain
  & .iconResult
    +setForAllMediaFromMap(width, $icon-result-widths)
