@import "../../../sass/mixins"
@import '../../../sass/variables'

.arrow
  position: relative
  display: inline-block
  vertical-align: bottom
  padding: 0
  border-right: solid
  border-bottom: solid
  box-sizing: border-box
  &__right
    transform: rotate(-45deg)
    margin-left: 5px
  &__left
    transform: rotate(135deg)
    margin-right: 10px
    margin-bottom: 2px
  &__top
    transform: rotate(225deg)
    margin-left: 10px
    margin-bottom: -2px
  &__bottom
    transform: rotate(45deg)
    margin-left: 10px
    margin-bottom: 6px
  &__lg
    min-width: 14px
    width: 14px
    height: 14px
    border-width: 2px
  &__md
    min-width: 11px
    width: 11px
    height: 11px
    border-width: 2px
  &__sm
    min-width: 8px
    width: 8px
    height: 8px
    border-width: 2px
  &__xs
    min-width: 5px
    width: 5px
    height: 5px
    border-width: 1px
  &__default
    border-color: $body-color
  &__success
    border-color: color('success')
  &__danger
    border-color: color('danger')
  &__info
    border-color: color('info')
  &__warning
    border-color: color('warning')
  &__primary
    border-color: color('primary')
